body {
    
    padding: 0;
    width: 1000px;
    height: 550px;
    border: 1px solid black;
}

.graph {
  display: flex;
  flex-direction: row;
}


.sidepanel {
    display: flex;
    flex-direction: column;
}