body {
  padding: 0;
  width: 1300px;
  height: 600px;
  border: 10px solid transparent;
  box-shadow: 5px 5px 5px 5px rgb(162, 253, 253)
}

.graph {
  display: flex;
  flex-direction: row;
}

.sidepanel {
  display: flex;
  flex-direction: column;
  margin-left: 0.5%;
}

.shortest {
  
  margin-top: 15px;
  font-size: 13px;
  width: 190px;
  height: fit-content;
  word-wrap: break-word;
}

button {
  width: 152px;
}
input {
  width: 250px;
  height: 17px;
}

.input {
  margin-top: 15%;
}

.node {
  font-size: 15px;
}

.key {
  border: 1px solid green;
  width: 145px;
  height: 75px;
  margin-top: auto;
  background-color: lightcyan;
}

.zoom {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  height: 49%;
  align-items: center;
}

.AddNewNode {
  margin-top: 30%;
}

.RemoveNode {
  margin-top: 10%;
}